/* import google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cursive';

}
/* for body */
body{
    background-size: cover;
    background-repeat: repeat-y;
 
    background-image: url('./Static/wp10615910-movie-collection-wallpapers.jpg');
    background-color: grey;
    background-blend-mode: multiply;  
}
/* heading of the page */
.header
{
    display: flex;
    color:aliceblue;
    padding: 30px 30px;
    font-size: 2rem;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: baseline;
    justify-content: space-between;
}
/* clear all list */
.butn
{

    align-items: baseline;
  
}
/* clear all list button */
.butn button {
    font-size:  1.8rem;
    background: none;
    padding: 20px;
    border: none;
    color: aliceblue;

}
/* clear all list button */
.butn button a{
    font-size:  1.8rem;
    background: none;
    padding: 20px;
    color: aliceblue;
}
/* list of movie */
#container
{
    padding-top: 55px;
}
/* movie item */
.items
{
    display:flex;
    height: 80px;
    margin:0% 4%;
    flex-direction: row;
    align-items: center;
    border-bottom:2px solid white;
    padding-bottom: 5px;
    justify-content: space-between;
}
/* details of movie */
.details
{
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}
/* poster of movie */
.images
{
    width: 54px;
    height: 76px;
}
/* poster of movie */
.images img{
    width: 100%;
    height: 100%;
    min-width: 60px;
}
/* titles of movie */
.titles {
    color:aliceblue;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 29px;
}
/* delete button of movie */
.delte-movie
{
    color: aliceblue;
    padding: 40px;
    font-size: 1.5rem;
}
/* movie title */
.titles a{
    color:aliceblue;
    text-decoration: none;
}

/* responsive */
@media screen and (max-width:650px) {
    .header
    {
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: column;
    }
    .butn
{
    display: flex;
    flex-direction: column;
 
  
}

.butn button {

    padding: 10px;
    

}
.items
{
    
    display:flex;

    flex-direction: row;
    align-items: normal;
    margin-bottom: 185px;
    border-bottom: none;
    /* padding-bottom: 225px; */
   
}
.details
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-bottom: 225px;
    justify-content: baseline;
    /* align-items: center; */
}
.delte-movie
{

    padding: 0px;
    
}

    
}
